* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #76c0cb;
  --background: #ffffff;
  --card-background: #d7d7d7;
  --card-background-hover: #c9c8c8;
  --input-background: #d7d7d7;
  --foreground: #171717;
  --input-foreground: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #76c0cb;
    --background: #0a0a0a;
    --card-background: #537c82;
    --card-background-hover: #53827cb0;
    --input-background: #ffffff;
    --foreground: #ededed;
    --input-foreground: #333333;
  }
}

h1,
h2,
h3,
h4,
h5,
p,
span,
a,
i,
b {
  color: var(--foreground);
}

body {
  color: var(--foreground);
  background: url(assets/images/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 16px;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 8px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  padding-bottom: 72px;
}

.header,
.footer {
  height: 64px;
  text-align: center;
  font-size: 24px;
  padding: 12px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.header h2 {
  font-size: 2rem;
}

.header h2 > span.title-highlight {
  border-radius: 4px;
  color: var(--color-primary);
}

.github-icon {
  color: var(--foreground);
  background-color: var(--color-primary);
  border: none;
  outline: none;
  padding: 8px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
}

.footer {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.footer p {
  font-size: 14px;
}

section.content {
  height: 100%;
}

.links-container {
  margin-top: 12px;
  gap: 1rem;
}

.links {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(268px, 1fr));
  gap: 1rem;
  padding: 8px 0;
}

.link-card {
  background-color: var(--card-background);
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  height: 168px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  cursor: pointer;
}

.link-card:hover {
  background-color: var(--card-background-hover);
}

::-webkit-scrollbar {
  width: 4px;
  background: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background-color: #e2e2e2;
}

#searchInput {
  width: 350px;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
  background-color: var(--input-background);
  color: var(--input-foreground);
  outline: none;
  padding: 12px;
  font-size: 1rem;
}

.notFound-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.notFound-image-container {
  width: 250px;
  height: 250px;
  position: relative;
  object-position: center;
  object-fit: contain;
}

.notFound-image-container img {
  width: 100%;
  height: 100%;
  position: absolute;
}

@media screen and (max-width: 835px) {
  .links-container {
    flex-direction: column;
  }

  .link-card {
    width: 100%;
  }

  #searchInput {
    width: 100%;
  }

  .container {
    height: auto;
  }
}
